<html xmlns:th="http://thymeleaf.org">
<body>

<h1  th:text="'Bonjour ' + ${session.prenom}"> </h1>

<form action="/agenda/logout" method="post">

<input type="submit" value="logout">
</form>

<h1>Agenda</h1>

<div th:each="agenda : ${agendas}">
	<p th:text="${agenda.nom}"/>
	<form action="/agenda/agenda" method="post">

	<input type="submit" th:value="${agenda.nom} " name="nom">
	</form>
	<a th:href="'/agenda/agenda/' + ${agenda.nom} " th:text="${agenda.nom}"></a>
</div>


<form action="/agenda/addAgenda" method="post">
<p> nom :<input type="text" name="nom">
<input type="submit" value="ajouterAgenda">
</form>

</body>

</html>

