<html xmlns:th="http://thymeleaf.org">
<body>

<h1>Login</h1>
<form action="/agenda" method="post">
<p> Email :<input type="text" name="email">
Password :<input type="text" name="mdp">
<input type="submit" value="test">
</form>

<hr/>
<h1> Signin </h1>
<form action="/add" method="post">
<p> 
email :<input type="text" name="email">
Password :<input type="text" name="mdp">
First name:<input type="text" name="prenom">
Last name  :<input type="text" name="nom">
<input type="submit" value="submit">
</form>
</body>


</html>